* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    /* height: 100vh; */
    overflow-y: scroll;
    /* background-color: rgb(0, 1, 10); */
    background-color: #030207;
}

a {
    color: rgb(19, 19, 116);
    text-decoration: none;
}

.pop-body {
    height: 100%;
    width: 100%;
    /* background: #8ba7df; */
    backface-visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    /* filter: blur(5px); */
    backdrop-filter: blur(0px);
    display: none;
}
.pop-card {
    width: 200px;
    height: 150px;
    background: linear-gradient(to right, rgb(5, 5, 20), rgb(2, 2, 29), rgb(7, 7, 24));
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    position: relative;
    margin:30% auto;
    padding: 10px;
    border-radius: 10px;
    z-index: 10;
}
.pop-input {
    width: 120px;
    padding: 5px;
    height: 40px;
    border: rgb(5, 5, 36);
    outline: none;
    border: 1px solid rgb(1, 1, 51);
    border-radius:5px;
    font-size: 16px;
}
.pop-input:focus{
    border: 1px solid rgba(2, 2, 39, 0.3);
}
.link-btn-dark{
    padding: 5px 10px;
    height: 40px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right ,rgb(5, 5, 20), rgb(2, 2, 29), rgb(7, 7, 24));
}
.small-loading-gif{
    width: 50px;
    height: 50px;
    background: transparent;
}
.small-loading-gif img {
    width: 100%;
    height: 100%;
    background: none;
}
.open-email-body {
    transition: 0.5s ease-in-out;
}
.display-hide {
    display: none;
}

.text-red {
    color: rgb(231, 15, 15);
}
.long-card form {
    width: 100%;
}

.midi-font {
    font-size: 14px;
}


.sub-text {
    padding: 5px;
    border: 1px solid #dedede;
    border-radius: 20px;
    background: #f4f4f4;
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sub-text-midi {
    padding: 5px 10px;
    border: 1px solid #dedede;
    border-radius: 20px;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sub-text-mini {
    padding: 10px;
    border: 1px solid #dedede;
    border-radius: 10px;
    background: #f4f4f4;
    /* display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: left; */
}

.gold-tag {
    background: linear-gradient(to right, rgb(241, 166, 4), rgb(231, 197, 1));
    padding: 5px;
    border: 1px solid #dedede;
    border: none;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
}

.error-text {
    color: rgb(218, 9, 9);
    font-weight: bold;
    font-size: 13px;
    /* display: none; */
}
.form-textarea{
    width: 95%;
    padding: 10px;
    height: 70px;
}
.form-input {
    width: 95%;
    padding: 5px;
    height: 40px;
    border: 1px solid #999;
    outline: none;
}

.form-input:focus {
    border: 1px solid rgba(29, 39, 133, 0.3);
}

.form-input.error {
    border: 1px solid rgb(255, 7, 7);
}

.form-label {
    display: block;
    margin: 5px 0;
    text-align: left;
}

.text-blue {
    color: linear-gradient(to right, rgb(22, 102, 194), rgb(13, 52, 160));
    color: chartreuse;
}

.display-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: ; */
}

.display-col {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    text-align: left;
}

.bg-white {
    background: #fff;
}

.text-white {
    color: #fff;
}

.vat-margin {
    margin: 15px 0;
}

.hor-margin {
    margin: 0 10px;
}

.btn-danger {
    padding: 5px;
    border: none;
    background: linear-gradient(to right, rgb(179, 44, 44), rgb(196, 33, 68));
    color: #fff;
    border-radius: 5px;
    height: 35px;
    font-weight: bold;
}

.btn-danger:hover {
    background: linear-gradient(to right, rgb(209, 52, 52), rgb(228, 30, 73));
}

.btn-good {
    padding: 5px;
    border: none;
    background: linear-gradient(to right, rgb(123, 240, 28), rgb(16, 211, 9));
    color: #fff;
    border-radius: 5px;
    height: 35px;
    font-weight: bold;
    /* display: flex;
    /* flex-direction: column; */
    /* justify-content: center;
    text-align: center;
    align-items: center; */
    color: #fff;
}

.btn-good:hover {
    background: linear-gradient(to right, rgb(111, 233, 40), rgb(52, 212, 20));
}
.link-btn-1 {
    padding: 5px;
    border: 1px solid #dedede;
    border: none;
    border-radius: 5px;
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    background: linear-gradient(to right, rgb(147, 3, 231), purple);
}

.link-btn-1:hover {
    background: linear-gradient(to right, rgb(90, 15, 134), rgb(59, 2, 59));
}

.link-btn-2 {
    padding: 5px;
    border: 1px solid #dedede;
    border: none;
    border-radius: 5px;
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    background: linear-gradient(to right, rgb(3, 70, 172), rgb(2, 28, 114));
}

.link-btn-2:hover {
    background: linear-gradient(to right, rgb(4, 58, 138), rgb(17, 41, 119));
}

.link-btn-3 {
    padding: 5px;
    border: 1px solid #dedede;
    border: none;
    border-radius: 5px;
    width: 110px;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    background: linear-gradient(to right, rgb(102, 102, 102), rgb(105, 112, 134));
}

.link-btn-3:hover {
    background: linear-gradient(to right, rgb(147, 147, 148), rgb(87, 87, 88));
}

.link-btn-4 {
    padding: 5px;
    border: 1px solid #dedede;
    border: none;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    /* color: ; */
    background: linear-gradient(to right, rgb(19, 12, 12), rgb(11, 16, 31));
}

.link-btn-4:hover {
    background: linear-gradient(to right, rgb(1, 1, 51), rgb(6, 6, 29));
}

.link-btn-5 {
    padding: 5px;
    border: 1px solid #dedede;
    border: none;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to right, rgb(36, 36, 175), rgb(49, 84, 187));
}

.link-btn-5:hover {
    background: linear-gradient(to right, rgb(24, 24, 180), rgb(36, 36, 167));
}

.btn-success {
    padding: 5px;
    border: 1px solid #dedede;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 110px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to right, rgb(36, 36, 175), rgb(49, 84, 187));
}

.btn-success:hover {
    background: linear-gradient(to right, rgb(24, 24, 180), rgb(36, 36, 167));
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    background: linear-gradient(to right, #000000, #18222b);
    padding: 10px;
    color: #fff;
    height: 70px;
    z-index: 10;
}

/* .nav-bar i {
    border: 1px solid silver;
    padding: 10px;
} */
.nav-bar a {
    color: silver;
    padding: 10px;
    background: linear-gradient(to right, rgb(12, 16, 20), rgb(9, 12, 22));
    border-radius: 10px;
}

.nav-bar a:hover {
    background: linear-gradient(to right, rgb(17, 19, 20), rgb(2, 7, 22));
}

.active a {
    width: 90px;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    margin: 0 5px;
    list-style: none;
}

nav h2 {
    font-size: 25px;
}

nav ul a {
    color: aliceblue;

}

.top-top-nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #080e1b, #040311);
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
    padding: 10px;
    color: #fff;
    z-index: 20;
    /* box-shadow:4px 4px 4px rgb(228, 226, 226) ; */
}

.top-nav-link {
    display: flex;
    align-items: center;
}

.top-title {
    /* font-size: 25px; */
    font-family: Arial, Helvetica, sans-serif;
}

.nav-profile {
    margin-right: 20px;
    align-items: center;
}

.nav-profile-img {
    width: 40px;
    height: 40px;
    background: #111;
    border-radius: 50%;
    z-index: 3;
    border: 1px solid #999;
}

.nav-profile-img img {
    width: 100%;
    object-fit: contain;
    z-index: 1;
    border-radius: 50%;
}

.nav-profile-text {
    color: #000000;
}

.notification {
    position: relative;
    background: linear-gradient(to right, rgb(12, 16, 20), rgb(9, 12, 22));
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.notification h6 {
    font-size: 20px;
}

.notification span {
    position: absolute;
    background: linear-gradient(to right, rgb(255, 7, 7), rgb(240, 101, 9));
    color: #fff;
    border-radius: 10px;
    padding: 3px 6px;
    font-size: 12px;
    top: 0;
    right: 0;
}

/* / / / / / / / / / / / / / / / / / / // / / /   */
.section-1 {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 30%;
}

.container {
    width: 60%;
    margin: auto;
    /* margin-bottom:40px; */
}

/* /   long card   / */
.card-body-1 {
    width: 100%;
}

.long-card {
    border: 1px solid #dedede;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    /* background: linear-gradient(to right, rgb(184, 184, 184), rgb(234, 234, 238)); */
    background: #fff;
    color: #000;
    box-shadow: 4px 3px 4px rgba(226, 224, 224, 0.3);
}

/* / /   small card   / /  */
.card-body-2 {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}

.small-card {
    border: 1px solid #dedede;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 250px; */
    color: silver;
    background-color: #080e1b;
}

.small-card a {
    color: #fff;
}

/* / ---  pay page sections --- / */
.invoice-card-body {
    padding: 10px;
}

.invoice-card-form {
    background: #f4f4f4;
    padding: 20px;
}


.invoice-card-body .display-flex {
    background: #fff;
    margin: 10px 0;
    padding: 5px;
}

.invoice-card-body select {
    padding: 10px;
    font-size: 16px;
}

/* /   --------- Ivoice hsitory Page --------     / */
.invoice-history-page {}

.invoice-history-body {
    margin: 20px 0;
}

.invoice-history-card {
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 4px 3px 4px rgba(226, 224, 224, 0.3);
}

/* /   --------- Ivoice hsitory Page End --------     / */
.bg-dark {
    background: linear-gradient(to right, rgb(8, 9, 19), rgb(12, 3, 3), rgb(8, 1, 29));
    box-shadow: none;
}
/* / media queries */
@media(max-width:900px) {

    .container {
        width: 75%;
    }
}

@media(max-width:768px) {
    nav {
        padding: 10px;
    }

    .container {
        width: 85%;
    }

    .top-nav {
        width: 85%;
    }
}

@media(max-width:550px) {
    .section-1 {
        width: 100%;
    }

    .container {
        width: 95%;
    }

    .link-btn-1,
    .link-btn-2,
    .link-btn-3 {
        width: 90px;
    }

    .top-nav {
        width: 95%;
    }

    .small-font {
        font-size: 13px;
    }
    .btn-good{
        font-size: 13px;
    }
}